@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #b4e4f9; /* Color celeste */
}

header {
    background-color: #709f64; /* Color verde */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 1.5em; /* Tamaño del texto del logo */
    
   
  color: #ffffff;
    user-select: none;
  }
  
  /* El resto de tus estilos se mantienen igual */
  
  .logo img {
    width: 50px; /* Tamaño de la imagen del logo */
    margin-right: 10px; /* Espaciado entre el texto y la imagen */
  }
  

/* El resto de tus estilos se mantiene igual */
.container {
    width: 400px;
    background: #afa38b9e;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #3ea827;
    color: #000000;
    border: none;
    cursor: pointer;
}

#btnRegistro{
    padding: 10px;
    background-color: #3ea827;
    color: #000000;
    border: none;
    cursor: pointer;
}


a {
    text-decoration: center;
    color: #000000;
    font-weight: bold;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-top: 20px;
}
